.mainBlock {
    height: 100vh;
    background-color: #fff0d0;
}
.container {
    align-items: center;
}
.greetingText {
    width: 300px;
    background-color: #f5f3f0;
}
.photo {
    width: 300px;
    height: 450px;
    background-color: #f5f3f0;
}